.shake {
	font-size: 17em ;
	color: red ;
	text-align: center;
	animation: shake 1s infinite;


}

.oval {
	position: relative;
	top: 200px;
	left: 48vw;
	width: 200px;
	height: 100px;
	background: red;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}

.oval:hover {
	background-color: green;
	cursor: pointer;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}


.cut-diamond {
	position: relative;
	top: -320px;
	left: 48vw;
    border-style: solid;
    border-color: transparent transparent brown transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    position: relative;
   
}
.cut-diamond:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: brown transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}



.box:hover {
	background-color: #FFCCCC;
	width: 200px;
	height: 200px;
	transform: rotate(40deg); 
}


.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:center;
    
}
.swing img {
    border: 5px solid #f8f8f8;
    display: block;
}
.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

@keyframes shake {
	from, to {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}

	20%, 40%, 60%, 80% {
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(10,0,0);	
	}


@keyframes shake {
	from, to {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0, 0,0);
	}
	10%, 30%, 50%, 70%, 90% {
	-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}	

}

@keyframes 

}


}
}


